body {
	margin: 20px 50px;
}

h1 {
	font-size: 40px;
	color: green;
	text-align: center;
}

h2 {
	font-size: 20px;
	color: grey;
	font-style: italic;
	padding-left: 50px;
}
p {
	margin-bottom: 50px;
}